@use "~@angular/material/theming" as mat;

$mat-toolbar-banner-density-config: (
  height: (
    default: 120px,
    maximum: 150px,
    minimum: 90px,
  ),
);

@mixin app-banner-density($conf) {
  $density-scale: mat.mat-get-density-config($conf);
  $height: mat.mat-private-density-prop-value(
    $mat-toolbar-banner-density-config,
    $density-scale,
    height
  );

  app-banner {
    min-height: $height;
  }
}

@mixin app-banner-typo($typo-conf) {
  app-banner {
    .heading {
      @include mat.mat-typography-level-to-styles($typo-conf, title);
      // line-height:  mat.mat-line-height($typo-conf,title);
    }
  }
  .message {
    @include mat.mat-typography-level-to-styles($typo-conf, body-1);
    // line-height:  mat.mat-line-height($typo-conf,title);
  }
}

@mixin app-banner-theme($theme) {
  $theme-color: mat.mat-get-color-config($theme);
  $typo: mat.mat-get-typography-config($theme);
  $density: mat.mat-get-density-config($theme);

  $success-color-palette: map-get($theme-color, success);
  $err-color-palette: map-get($theme-color, err);
  $info-color-palette: map-get($theme-color, info);
  $bg-theme: map-get($theme-color, background);

  @if $density != null {
    @include app-banner-density($density);
  }

  @if $typo != null {
    @include app-banner-typo($typo);
  }

  app-banner {
    // @include mat.mat-elevation(3);
    background-color: mat.mat-color($bg-theme, card);
    &.app-banner-success {
      background-color: mat.mat-color($success-color-palette, lighter);
    }
    &.app-banner-err {
      background-color: mat.mat-color($err-color-palette, lighter);
    }
    &.app-banner-info {
      background-color: mat.mat-color($info-color-palette, lighter);
    }
  }
}
