@use "~@angular/material/theming" as mat;

@mixin app-root-theme($theme) {
  $theme-color: mat.mat-get-color-config($theme);
  $bg: map-get($theme-color, background);

  .content {
    background-color: mat.mat-color($bg, background);
  }
}
